*.pyc
__pycache__
models
notebook
local
corenlp*.props
language
node_modules
train-0.json
train-1.json
train-2.json
train-3.json
train-4.json
dev-0.json
dev-1.json
dev-2.json
dev-3.json
dev-4.json
stanford-corenlp-full-2018-10-05
